In [1]:
import requests
import re
import json
import pandas as pd
from datetime import datetime, timedelta
import ast
import warnings
warnings.simplefilter("ignore", UserWarning)

In [2]:

URL_BASE = "https://www.google.com/finance/_/GoogleFinanceUi/data/batchexecute"

ativo = 'TAEE11'

params = {
    "rpcids": "AiCwsd",
    "source-path": "/finance/quote/BBAS3:BVMF",
    "f.sid": "-1601762218538142130",
    "bl": "boq_finance-ui_20251010.01_p1",
    "hl": "pt",
    "soc-app": "162",
    "soc-platform": "1",
    "soc-device": "1",
    "_reqid": "39577530",
    "rt": "c",
}

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36",
    "Content-Type": "application/x-www-form-urlencoded;charset=utf-8",
    "Referer": "https://www.google.com/finance/quote/BBAS3:BVMF"
}

payload = (
    f'f.req=[[["AiCwsd","[[[null,[\\"{ativo}\\",\\"BVMF\\"]]],1,null,null,null,null,null,0]",null,"generic"]]]'
    '&at=ANXjBT-5oBApzzVabFGFEcU480EA:1760488320351'
)

In [3]:
def get_api_data(ativo):
    payload = (
    f'f.req=[[["AiCwsd","[[[null,[\\"{ativo}\\",\\"BVMF\\"]]],1,null,null,null,null,null,0]",null,"generic"]]]'
    '&at=ANXjBT-5oBApzzVabFGFEcU480EA:1760488320351'
    )

    response = requests.post(URL_BASE, params=params, headers=headers, data=payload)
    
    if response.status_code != 200:
        print(f"Erro na coleta de dados do ativo {ativo}!")
        text = []
    
    else:
        text = response.text
    
    return text

In [4]:
def bronze_cleanup(text, ativo):
    
    pattern = r'\[\[(\d{4}),(\d{1,2}),(\d{1,2}),(\d{1,2}),(\d{1,2}),null,null,\[(-?\d+)\]\],\[(-?\d+(?:\.\d+)?),(-?\d+(?:\.\d+)?),(-?\d+(?:\.\d+)?),(\d+),(\d+),(\d+)\],(\d+)\]'

    finds = re.findall(pattern, text, re.DOTALL)

    bronze = pd.DataFrame(finds)
    
    bronze['price'] = bronze[6]
    bronze['timestamp_str'] = bronze[0] + '-' + bronze[1] + '-' + bronze[2] + ' ' + bronze[3] + ':' + bronze[4]
    bronze['timestamp'] = pd.to_datetime(bronze['timestamp_str'])
    bronze['ativo'] = ativo

    silver = bronze[['ativo', 'timestamp', 'price']]
    
    return silver

In [5]:
lista_de_ativos = ['TAEE11', 'ELET3']

gold = pd.DataFrame(columns=['ativo', 'timestamp', 'price'])

In [6]:
for ativo in lista_de_ativos:
    
    text = get_api_data(ativo)
    
    silver = bronze_cleanup(text, ativo)
    
    # print(silver)
    
    gold = pd.concat([gold, silver])
    
gold = gold[['ativo', 'timestamp', 'price']]

gold

C:\Users\Maicon Ferreira\AppData\Local\Temp\ipykernel_3248\1845088937.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  gold = pd.concat([gold, silver])

      ativo           timestamp  price
0    TAEE11 2025-11-04 10:08:00  38.65
1    TAEE11 2025-11-04 10:09:00  38.67
2    TAEE11 2025-11-04 10:10:00  38.69
3    TAEE11 2025-11-04 10:11:00  38.67
4    TAEE11 2025-11-04 10:13:00  38.72
..      ...                 ...    ...
392   ELET3 2025-11-04 16:52:00  56.46
393   ELET3 2025-11-04 16:53:00  56.47
394   ELET3 2025-11-04 16:54:00  56.44
395   ELET3 2025-11-04 16:55:00  56.44
396   ELET3 2025-11-04 16:56:00  56.53

[794 rows x 3 columns]